<!DOCTYPE html>
<html>
  <head>
    <title> 🧜🏻‍♀️ Gosia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="absolute inset-x-0 top-0 z-50">
      <% if flash[:notice].present? %>
        <div class="notice bg-green-400 text-white text-center px-4 py-3 rounded relative" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>

        <p class="alert"><%= alert %></p>
        <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
          <div class="flex lg:flex-1">
            <a href="#" class="-m-1.5 p-1.5">
              <span class="sr-only">MAJO Divers</span>
            </a>
            <span class="text-blue-700 font-bold text-2xl">MAJO Divers</span>
          </div>
          <div class="flex lg:hidden">
            <button id="openButton" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700" onclick="buttonFunctions()">
              <span class="sr-only">Open main menu</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            </button>
          </div>
          <div class="hidden lg:flex lg:gap-x-12">
            <%= link_to "Home", root_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
            <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Store</a>
            <%= link_to "Services", services_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
            <%= link_to "About me", about_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
            <%= link_to "Blog", blog_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
            <%= link_to "Contact", contact_path, class: "text-sm font-semibold leading-6 text-gray-900" %>


          </div>
          <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <% if user_signed_in? %>
                  <%= form_tag destroy_user_session_path, method: :delete do %>
                    <%= submit_tag "Log out" %>
                  <% end %>
            <% else %>
              <%= link_to "Log in", new_user_session_path, class: "text-sm font-semibold leading-6 text-gray-900" %> <span aria-hidden="true">&rarr;</span>
            <% end %>
          </div>
        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <div id="mobileMenu" class="hidden" role="dialog" aria-modal="true">
          <!-- Background backdrop, show/hide based on slide-over state. -->
          <div class="fixed inset-0 z-50"></div>
          <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center justify-between">
              <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">MAJO Divers</span>
              </a>
              <!-- Close button -->
              <button id="closeButton" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700" onclick="buttonFunctions()">
                <span class="sr-only">Close menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="mt-6 flow-root">
              <div class="-my-6 divide-y divide-gray-500/10">
                <div class="space-y-2 py-6 flex flex-col">
                  <%= link_to "Home", root_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
                  <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Store</a>
                  <%= link_to "Services", services_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
                  <%= link_to "About me", about_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
                  <%= link_to "Blog", blog_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
                  <%= link_to "Contact", contact_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
                </div>
                <div class="py-6">
                  <% if user_signed_in? %>
                        <%= form_tag destroy_user_session_path, method: :delete do %>
                          <%= submit_tag "Log out", class: "text-sm font-semibold leading-6 text-gray-900" %>
                        <% end %>
                  <% else %>
                    <%= link_to "Log in", new_user_session_path, class: "text-sm font-semibold leading-6 text-gray-900" %> <span aria-hidden="true">&rarr;</span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

    <main class="flex flex-col">
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>


    <script>
        function buttonFunctions() {
            const mobileMenu = document.getElementById("mobileMenu");
            const closeButton = document.getElementById("closeButton");
            const openButton = document.getElementById("openButton");

            closeButton.addEventListener("click", () => {
                mobileMenu.classList.add("hidden");
            });

            openButton.addEventListener("click", () => {
                mobileMenu.classList.remove("hidden");
            });
        }
    </script>
  </body>
</html>
